body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', 'Arial', sans-serif; 
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
    background-color: #f2f2f2; /* здесь все же белый должен быть или цвет отступов по бокам?*/
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-container {   /*??? не работает  */
    margin: 0 auto;
}

.main-navigation a {  
    font-weight: 700;
    color: black;
    background-color: white;
    position: relative;
}

.site-navigation {
    list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #b2b2b2;
}

.features h2{ 
    font-size: 21px;
    line-height: 26px;    
    font-weight: 700;
    text-align: center;
}

.reasons {
    display: block;
    color: #333333;
    background-color: white;
    font-weight: 400;
    text-align: center; /* текст не по центру почему-то*/ 
}

.offer-text  {
    color: #333333;
    background-color: white;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.motivation-text {
    font-size: 30px;
    line-height: 36px;    
    font-weight: 700;
    text-align: center;
}

.booking form {
    background-color: white;
  /*  text-align: center; */
}

.booking-form h2 {
    color: white;
    background-color: #766357;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.booking-form h2:hover,
.booking-form h2:focus {
    background-color: #604e43;
}

.booking-form h2:active { 
    color: rgba(255, 255, 255, .3);
    background-color: #503e33;
}

.booking-form ul {
    list-style: none;
}

.booking-form li,
.booking-form input {
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}

.quantity-button {
    font: inherit;
    color: #a9a9a9;
    background-color: #f2f2f2;
    border: none;
    text-transform: uppercase;
    text-align: center;
}

.quantity-button:hover,
.quantity-button:focus {
    color: black;
}

.quantity-button:active {
    color: #81b3d2;
}

.booking-form input {
    border: none;
    background-color: #f2f2f2;
}

.booking-form input:hover {
    background-color: #ebebeb;
}

.booking-form input:focus {
    list-style: none;
    background-color: #ffffff;
    border-color: #e5e5e5;
    outline-width: 2px;
    outline-color: #e5e5e5;
}

.search-button {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: white;
    background-color: #81b3d2;
    border: none;
    text-transform: uppercase;
    text-align: center;
}

.search-button:hover,
.search-button:focus {
    background-color: #669ec0;
}

.search-button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, .3);
}

.hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}
    
.footer-social {
    text-align: center;
}

.footer-social ul {
    list-style: none;
}

/*.creator-logo {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: black;
    background-color: white; 
    
} */


/* -----------  ниже вторая страница */

.hotels-list {
    list-style: none;
}

.hotel-name {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700; 
    margin: 0;
}

.hotel-name:hover,
.hotel-name:focus {
    color: #81b3d2;
}

.hotel-name:active {
    color: #b2b2b2;
}

.hotel-type,
.hotel-price {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
}

.hotels .more {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: white;
    background-color: #81b3d2;
}

.hotels .more:hover,
.hotels .more:focus {
    background-color: #5496bd;
}

.hotels .more:active {
    background-color: #669ec0;
    color: rgba(255, 255, 255, .3);
}

.hotels .booking  {
    color: white;
    background-color: #766357;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;

}

.hotels .booking:hover,
.hotels .booking:focus {
    background-color: #604e43;
}

.hotels .booking:active {
    color: rgba(255, 255, 255, .3);
    background-color: #503e33;
}

.hotel-rating {
    color: #666666;
    background-color: #f2f2f2;
    font-size: 14px;
    line-height: 21px;

}

/* ------------ ниже разметка по горизонтали*/

.main-header,
.container,
.inner-container, 
.main-footer {
    width: 1200px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: white;
}   /*типа центровщик, но при масштабировании все к левому краю прилипает, так и должно быть?*/

.container {
    background-image: url(../img/background-photo.jpg);
    background-position: 50% 0px;
    background-repeat: no-repeat;
    background-size: 100% 515px;
}

.main-header {
    background-color: rgba(0, 0, 0, .1);
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0;  
    padding: 0;
    background-color: white;
}

/* выравниевание элемнтов  с местом для эмблемы */ 
.site-navigation li:nth-child(1),
.site-navigation li:nth-child(4) {
    margin: 0;
}

.site-navigation li:nth-child(2) {
    margin-left: 0;
    margin-right: auto;
}

.site-navigation li:nth-child(3) {
    margin-right: 0;
    margin-left: auto;
}

.site-navigation a { /* a, т.к. вся область должна быть ссылкой*/
    display: block;
    width: 239px;
    text-align: center;
    padding: 16px 0px;
}

.logo-container {
    position: absolute;
    width: 140px;
    top: 0;
    left: 570px; /* ??? почему позицинирование идет от левого окна, а не от main-navigation? */ 
}

.site-navigation .main-header-logo {
    padding: 0;
}

.welcome {
    display: block;
    width: 459px; /* можно ли без указания ширины отцентрировать*/
    margin-left: auto;
    margin-right: auto; 
        /* временно */
    background-color: rgba(0, 0, 0, 0);
    padding-top: 76px;
}

.background-bottom {
    /*position: absolute;  ??? - здесь же можно без абсолюта?*/  
    margin-top: 21px;   
    
    /* ??? снизу какое-то лишнее растояние у данного div, несколько пикселей вниз от картинки svg*/
}

.features {
    width: 575px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto; 
    background-color: white;
}


.booking-header {
    width: 568px;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 55px;
}

.offer-text {
    display: block;    /*  верно ли, что я тут блочную модель задал?  */
    margin-top: 28px;
}

.booking-form {
    width: 568px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
    border: solid 1px black; /* временно */
}

/*  ------- вообще всю форму бронирования проще было бы сделать на флексах, но у меня список и из-за этого флексами не получится. Грамотнее было бы контейнером сделать левую часть с названиями и правую с формами и позиционировать внутри было бы проще  */


.booking-list {   
    padding: 0;
    margin: 0;
    position: relative;
}

.booking-list li {
    margin-bottom: 30px;
    width: 460px;
}

.booking-list li:nth-child(1)::after,
.booking-list li:nth-child(2)::after { 
    content: "";
    position: absolute;
    right: 20px;
    top: 6px;
    background-image: url("../img/calendar.svg");
    width: 21px;
    height: 22px;
    background-repeat: no-repeat;
}

.booking-list li:nth-child(2)::after { 
    right: 20px;
    top: 70px;
}

.booking-list li::after {
    
}

.booking-form form {
    width: 460px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.booking-form h2 {
    margin: 0 auto 55px;
    padding-bottom: 32px;
    padding-top: 32px;
}

/*.booking-list {
    display: flex;
    flex-wrap: wrap;
}  ----- это если на флексах*/

.booking-list input {
    width: 346px;
    padding: 5px 15px;
    box-sizing: border-box;
    margin-left: auto;
}


.booking-list input:nth-child(1),
.booking-list input:nth-child(2) {
    /* float: right; */ 
    /* ?? флоат по вертикали выравнивает, а по горизонтали смещение происходит */ 
}

.booking-list li:nth-child(3){
    display: inline-block;  /* ??? не могу понять как расположить в одной строке эти два элемента, это либо flex, либо inline-block? Плюс мне надо уменьшить ширину поля формы. + В первых двух полях формы на над полем иконка календаря висит, как с этим быть?*/
    
}
.booking-list li:nth-child(4){
    display: inline-block;
    
}

.booking-list li:nth-child(3) {
    display: flex;
}

.quantity-button,
.quantity-button,
.booking-list li:nth-child(3) input, /* можно ли такую вложенность использовать из 3 классов?*/
.booking-list li:nth-child(4) input {
    box-sizing: border-box;
    width: 38px;
    height: 38px;
    margin: 0;  /* хочу задать кнопкам и полю одинаковую ширину и поставить их рядом без отступов - не получается*/
}

.search-button {
    box-sizing: border-box;
    width: 460px;   
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px; /* вот здесь мне не нравится как пришлось отступ задавать. В списке я сделал отступ вниз от каждого пункта, поэтом тут margin складываются*/
    margin-bottom: 55px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.booking {
    margin-bottom: 78px;
}

.main-footer {
    display: flex;
    width: 1200px;
    padding: 0;
    justify-content: space-between;
    /*padding-top: 35px;
    padding-bottom: 35px;*/
    background-color: rgba(0,0,0, .3); /* временно*/
    

}

.footer-social ul{
    display: flex;
    width: 150px;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;

}

.hashtag {
    margin: 0;
    margin-left: 133px;
    margin-top: 50px;
    vertical-align: middle;
}


.creator-logo {
    margin: 0;
    margin-top: 39px;
    margin-right: 100px;
    vertical-align: middle;

}

.creator-logo path {
    fill: #231f20;
}

.creator-logo:focus path,
.creator-logo:hover path {
    fill: #81b3d2;
}

.creator-logo:active path {
    fill: #bdbbbc;
}

.footer-social {
    margin: 36px auto;
}

.social-button {
    background-color: #81b3d2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    vertical-align: middle;
    
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}


.social-button img {
    display: block;
}

.social-button img:active {
    opacity: 0.3;
}   /* ??? не пойму, как без инлайна сделать так, чтобы при нажатии на весь квадрат иконка opacity приобретала, а не только на иконку*/


/*---------стилизация 2ой страницы------- */

.active-page {
    color: #766357;
}

.hotels-list {
    padding: 0;
    margin: 0;
}

.hotels-list li {
    display: flex;
    padding: 30px 73px;
    border-bottom: 1px solid #e5e5e5;
}

.hotel-price, 
.hotel-type {
    display: inline-block;
    margin: 0;
}

.hotel-type {
    width: 110px;
    margin-right: 1px;
}

.hotel-item {
    width: 260px;
    margin-left: 30px;
    position: relative;
}

/*.hotel-item .more,
.hotel-item .booking {
    position: absolute;
    bottom: 0;
    padding: 3px 15px;

.hotel-item .more {
    left: 0;
    box-sizing: border-box;
    
}

.hotel-item .booking {
    right: 0;
    box-sizing: border-box;
}
}*/

.hotel-item .more,
.hotel-item .booking {
    display: inline-block;
    padding: 3px 15px;
    margin-bottom: 0;  /*??? почему это не приводит к прилипанию кнопки к нижней части родительского элемента??*/
    margin-top: 10px;  */
}

.hotel-item .more {
    margin-right: 2px;
}

.rating {
    margin-right: 0;
    margin-left: auto;
    /*position: relative;*/
}

/*.rating .hotel-rating {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120px;
    text-align: right;
    padding-right: 15px;
}*/

.hotel-rating {
    display: inline-block;
    width: 110px;
    text-align: center;
    margin: 0;

}

