body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', 'Arial', sans-serif; 
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
    background-color: #f2f2f2; /* здесь все же белый должен быть или цвет отступов по бокам?*/
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.main-navigation a {  
    font-weight: 700;
    color: black;
    background-color: white;
}

.site-navigation {
    list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #b2b2b2;
}

.features h2{ 
    font-size: 21px;
    line-height: 26px;    
    font-weight: 700;
    text-align: center;
}

.reasons {
    color: #333333;
    background-color: white;
    font-weight: 400;
    text-align: center; /* текст не по центру почему-то*/ 
}

.offer-text  {
    color: #333333;
    background-color: white;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.motivation-text {
    font-size: 30px;
    line-height: 36px;    
    font-weight: 700;
    text-align: center;
}

.booking form {
    background-color: white;
  /*  text-align: center; */
}

.booking-form h2 {
    color: white;
    background-color: #766357;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
}

.booking-form h2:hover,
.booking-form h2:focus {
    background-color: #604e43;
}

.booking-form h2:active { 
    color: rgba(255, 255, 255, .3);
    background-color: #503e33;
}

.booking-form ul {
    list-style: none;
}

.booking-form li,
.booking-form input {
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}

.quantity-button {
    font:inherit;
    color: #a9a9a9;
    background-color: #f2f2f2;
    border: none;
    text-transform: uppercase;
    text-align: center;
}

.quantity-button:hover,
.quantity-button:focus {
    color: black;
}

.quantity-button:active {
    color: #81b3d2;
}

.booking-form input {
    border: none;
    background-color: #f2f2f2;
}

.booking-form input:hover {
    background-color: #ebebeb;
}

.booking-form input:focus {
    list-style: none;
    background-color: #ffffff;
    border-color: #e5e5e5;
    outline-width: 2px;
    outline-color: #e5e5e5;
}

.search-button {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: white;
    background-color: #81b3d2;
    border: none;
    text-transform: uppercase;
    text-align: center;
}

.search-button:hover,
.search-button:focus {
    background-color: #669ec0;
}

.search-button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, .3);
}

.hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}
    
.footer-social {
    text-align: center;
}

.footer-social ul {
    list-style: none;
}

/*.creator-logo {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: black;
    background-color: white; 
    
} */


/* -----------  ниже вторая страница */

.hotels-list {
    list-style: none;
}

.hotel-name {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700; 
}

.hotel-name:hover,
.hotel-name:focus {
    color: #81b3d2;
}

.hotel-name:active {
    color: #b2b2b2;
}

.hotel-type,
.hotel-price {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
}

.hotels .more {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: white;
    background-color: #81b3d2;
}

.hotels .more:hover,
.hotels .more:focus {
    background-color: #5496bd;
}

.hotels .more:active {
    background-color: #669ec0;
    color: rgba(255, 255, 255, .3);
}

.hotels .booking  {
    color: white;
    background-color: #766357;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;

}

.hotels .booking:hover,
.hotels .booking:focus {
    background-color: #604e43;
}

.hotels .booking:active {
    color: rgba(255, 255, 255, .3);
    background-color: #503e33;
}

.hotel-rating {
    color: #666666;
    background-color: #f2f2f2;
    font-size: 14px;
    line-height: 21px;

}

/* ------------ ниже разметка по горизонтали*/

.main-header,
.container,
.main-footer {
    width: 1200px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: white;
}   /*типа центровщик, но при масштабировании все к левому краю прилипает, так и должно быть?*/

/*body {
    background-image: url(img/background-photo.jpg);
    background-position: top center;
    background-repeat: no-repeat;   */
}

.main-header {
    background-color: rgba(0, 0, 0, .5);
}

.site-navigation {
    display: flex;
    width: 1200px;
    max-height: 56px; /* временно*/
    margin: 0;  
    padding: 0;
    justify-content: space-between;   
}

.nav-item {
    width: 240px;
    text-align: center;
    padding: 16px 0px;
}

.nav-item:nth-child(3) {
    padding: 0;
}

.welcome {
    width: 459px; /* можно ли без указания ширины отцентрировать*/
    margin-left: auto;
    margin-right: auto; 
    
    /* временно */
    background-color: rgba(0, 0, 0, .5);  
}

.features {
    width: 575px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto; 
}


.booking-header {
    width: 568px;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 55px;
}

.offer-text {
    display: block;    /*  верно ли, что я тут блочную модель задал?  */
    margin-top: 28px;
}

.booking-form {    /* вот здесь те же свойства, что и выше, лучше просто через запятую класс добавить к .booking-header в части одинаковых свойств или для удобства корректировки/проверки лучше все классы отдельно прописывать? */
    width: 568px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
 
    border: solid 1px black; /* временно */
}

.booking-list {
    padding: 0px;
    margin: 0;
}

.booking-list li {
    margin-bottom: 30px;
}

.booking-form form {
    width: 460px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.booking-form h2 {
    margin: 0 auto 55px;
    padding-bottom: 32px;
    padding-top: 32px;
}

.booking-list li:nth-child(3){
    display: inline-block;  /* не могу понять как расположить в одной строке эти два элемента, это либо flex, либо inline-block? Плюс мне надо уменьшить ширину поля формы. + В первых двух полях формы на над полем иконка календаря висит, как с этим быть?*/
}
.booking-list li:nth-child(4){
    display: inline-block;
    padding-left: 55px;
}

.quantity-button plus,
.quantity-button minus,
.booking-list li:nth-child(3) input, /* можно ли такую вложенность использовать из 3 классов?*/
.booking-list li:nth-child(4) input {
    box-sizing: border-box;
    width: 38px;
    margin: 0;  /* хочу задать кнопкам и полю одинаковую ширину и поставить их рядом без отступов - не получается*/
}

.search-button {
    box-sizing: border-box;
    width: 458px;   /* почему-то ширина все равно считается с padding*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px; /* вот здесь мне не нравится как пришлось отступ задавать. В списке я сделал отступ вниз от каждого пункта, поэтом тут margin складываются*/
    margin-bottom: 70px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.main-footer {
    display: flex;
    width: 1200px;
    padding: 0;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 78px;
    background-color: rgba(0,0,0, .3); /* временно*/
    

}

.footer-social ul{
    display: flex;
    width: 150px;
    justify-content: space-between;
    padding: 0;
    margin-left: auto;
    margin-right: auto;

}

.hashtag {
    margin-left: 133px;
    vertical-align: middle;
}

.creator-logo {
    margin-right: 102px;
    vertical-align: middle;
}

.social-button {
    background-color: #81b3d2;
    width: 46px;
    height: 48px;
    vertical-align: middle;
}

/*---------стилизация 2ой страницы------- */

.hotels-list li {
    display: flex;
    margin: 30px 0;
}

.hotel-item {
    width: 260px;
    margin-left: 30px;
}




